<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500|Raleway" rel="stylesheet">
    <!-- Own stylesheet -->
    <link rel="stylesheet" href="/styles_home.css">
    <!-- Hotjar Tracking Code for https://spotdrop.herokuapp.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:839863,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <title>Homepage</title>
</head>
<body>
    
<nav class="navbar navbar-dark navbar-expand-md py-1 px-4" id="nav">
    <a class="navbar-brand py-1" href="/"> <img src="img/Spotdrop logo sm-01.png" alt="" id="img-logo-nav" > <span class="ml-2">Spotdrop</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn nav-item-right" data-toggle="modal" data-target="#loginModal"><img src="icons/padlock.svg" width="25px" alt="" class="ml-0 mr-2"> Log-in</button>
            </li>
            <li class="nav-item">
                <a href="/signup" class="btn nav-item-right">Sign up!</a>
            </li>
        </ul>        
    </div>
</nav>


<div class="col-lg-8 col-md-12 offset-lg-2 main1">
    <div class="w-100 d-flex flex-column align-items-center justify-content-start h-100">

        <div class="d-none d-md-block" style="height: 15vh"></div> 
        <div class="d-md-none" style="height: 7vh"></div> 

        <img src="img/logo lg.png" alt="" id="img-logo" class="" >

        <h1 class="text-center raleway">Share your best photos with people around you</h1>

        <div class="d-none d-md-block" style="height: 3vh"></div> 
        <div class="d-md-none" style="height: 1vh"></div> 

        <h3 class="text-center d-none d-md-block">Discover new places, events, and people, and connect to the community!</h3>
        <!-- <h5 class="text-center d-md-none">Discover new places, events, and people, and connect to the community!</h5> -->
        
        <div class="d-none d-md-block" style="height: 10vh"></div> 
        <div class="d-md-none" style="height: 5vh"></div>

        <form action="/index" method="GET" class="w-75 mx-0 my-0 p-0">

            <!-- > Medium screen -->
            <div class="d-none d-md-block"> 
                <div class="input-group input-group-lg input-group-src">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">What's going on in: </span>
                    </div>
                    <input type="text" class="form-control text-right raleway" id="input-src" name="place" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <!-- < Medium screen -->
            <div class="d-md-none"> 
                <h4 class="w-100 text-center" id="">What's going on in: </h4>
                <input type="text" class="form-control text-right raleway" id="input-src" name="place" aria-label="Large" aria-describedby="inputGroup-sizing-sm">                
            </div>

            <button type="submit" class="btn mt-1" id="btn-main" > Take me to the map </button>

        </form>
    </div>    
</div>

<div class="w-100 text-center py-2" id="div_opentutorial">
    <button id="btn-goto-tutorial" class="px-4 py-1 mt-0 mb-0">How does it work?</button>
</div>

<div class="col-lg-10 col-md-12 offset-lg-1 py-4" id="div_tutorial" style="">
    <div class="mx-auto" style="width: 80%">
        
        <!-- > Medium screen -->
        <div class="d-none d-md-block">  
            <div class="mt-5 w-100 d-flex flex-row justify-content-space-between align-items-center tut-section">
                <div style="flex-basis: 400px">
                    <img src="img/SD home upload-01.png" class="w-100"  alt="">
                </div>
                <div class="" style="flex-grow: 1">
                    <h3 class="text-right ">Took a great photo and want to share it with the world?</h3>
                    <h4 class="text-right ">Drop it to the map so anyone can see and comment on it</h4>
                </div>
            </div>

            <div class="w-100 d-flex flex-row justify-content-space-between align-items-center tut-section" >
                <div class="" style="flex-grow: 1">
                    <h3 class="">Like, comment and contribute to any drop</h3>
                    <h4 class="">Collaborate with other people to build amazing photo collections!</h4>
                </div>
                <div style="flex-basis: 300px">
                    <img src="img/SD home add-01.png" class="w-100"  alt="">
                </div>
            </div>

            <div class="w-100 d-flex flex-row justify-content-space-between align-items-center tut-section" style="margin-top: 10%; margin-bottom: 10%; ">
                <div style="flex-basis: 400px">
                    <img src="img/SD home search-01.png" class="w-100"  alt="">
                </div>
                <div class="" style="flex-grow: 1">
                    <h3 class="text-right ">Looking for a specific event or place?</h3>
                    <h4 class="text-right ">Use the search function to filter by user, place, or hashtag</h4>
                </div>
            </div>

        </div>

        <!-- < Medium screen -->
        <div class="d-md-none">  
            <div class="mt-5 w-100 d-flex flex-column align-items-center my-5 tut-section">
                <img src="img/SD home upload-01.png" class="w-100 my-2"  alt="">
                <h3 class="">Took a great photo and want to share it with the world?</h3>
                <h4 class="">Drop it to the map so anyone can see and comment on it</h4>
            </div>

            <div class="w-100 d-flex flex-column align-items-center my-5 tut-section" >
                <img src="img/SD home add-01.png" class="w-100 my-2"  alt="">
                <h3 class="">Like, comment and contribute to any drop</h3>
                <h4 class="">Collaborate with other people to build amazing photo collections!</h4>
            </div>

            <div class="w-100 d-flex flex-column align-items-center mt-5 mb-4 tut-section">
                <img src="img/SD home search-01.png" class="w-100 my-2"  alt="">
                <h3 class="">Looking for a specific event or place?</h3>
                <h4 class="">Use the search function to filter by user, place, or hashtag</h4>
            </div>
            
        </div>

        <!-- Footer -->
        <hr class="w-100 mt-3">
        <div class="mt-2 w-100 d-flex flex-row align-items-center footer">
            <div class="p-4">
                <img src="img/Spotdrop logo sm-01.png" alt="" style="width: 100px;" id="" >
                <h6 class="text-center">Spotdrop</h6>
            </div>
            <hr class="mx-2" style="height: 150px">
            <div class="mt-4">
                <ul>
                    <li>
                        <a href="">About us</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li id="privacy_modal">
                        <a href="//www.iubenda.com/privacy-policy/27082201" class="iubenda-white iubenda-embed" title="Privacy Policy"><div >Privacy Policy</div></a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </li>
                </ul>
            </div>
                
        </div>

        
    </div>

</div>

<!-- Background image -->
<div id="cf2" class="">
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/965162/pexels-photo-965162.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/860562/pexels-photo-860562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/6373/hands-woman-camera-smartphone.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/625644/pexels-photo-625644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/212372/pexels-photo-212372.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/2326/fashion-person-woman-taking-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    <div class="img-holder" style="background-image: url('https://images.pexels.com/photos/842578/pexels-photo-842578.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
</div>

<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
            <h3 class="modal-title">Login</h3>
       </div>
       <div class="modal-body">
            <form action="/login" method="POST" class="w-100">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" required class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" required class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3" id="btn-login">Log-in</button>
            </form>

            <div class="my-3 d-flex flex-row align-items-center w-100">
                <hr class="light w-100"><span class="p-2" >or</span><hr class="light w-100">
            </div>
            <div class="w-100 d-flex flex-column align-items-center">
                <a href="/logingoogle" class="btn-login-google"></a>
                <a href="/loginfacebook" class="btn-login-face"></a>
            </div>
            
       </div>

    </div>
  </div>
</div>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Own -->
<script src="js/homepage.js" ></script>
</body>
</html>