<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500|Raleway" rel="stylesheet">
    <!-- Own stylesheet -->
    <link rel="stylesheet" href="/dist/css/privacy_page.css">  
    <title>Privacy</title>
</head>
<body>
    
<nav class="navbar navbar-expand-md py-1 px-4 ">
    <a class="navbar-brand" href="/"> <img src="img/Spotdrop logo sm-01.png" alt="" style="height: 50px" id="img-logo-nav" > <span class="ml-2">Spotdrop</span> </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn nav-item-right" data-toggle="modal" data-target="#loginModal"><img src="icons/padlock.svg" width="25px" alt="" class="ml-0 mr-2"> <span> Log-in</span></button>
            </li>
            <li class="nav-item">
                <a href="/signup" class="btn nav-item-right ml-1">Sign up!</a>
            </li>
        </ul>        
    </div>
</nav>

<div class="col-lg-8 col-md-12 offset-lg-2 mt-4" id="main1">
    <h3>Privacy and Legal</h3>
</div>



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Own -->
<script src="dist/js/privacy_page.js" ></script>
</body>
</html>